{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block content %}

    <div class="contact">
        <div class="container">
            <div class="contact-top heading">
                <h2>Форма оформления заказа</h2>
            </div>
            <form action="{% url 'order_detail' %}" method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    <div class="clearfix"></div>
                    <h2 align="center">Выбранные Вами товары:</h2>
                    <div class="clearfix"></div>
                    {% for product in cart_products %}
                                <ul class="cart-header">
                                    <a class="close1" href="{% url 'remove_from_cart' id=product.id %}"> </a>
                                    <li class="ring-in"><a href="{% url 'product_card' id=product.id %}"><img
                                            src="{{ MEDIA_URL }}{{ product.product_image.url }}" class="img-responsive"
                                            alt=""></a>
                                    </li>
                                    <li><span class="name">{{ product.product_name }}</span></li>
                                    <li><span class="cost">{{ product.product_price }}</span></li>
                                    <li><span>Бесплатная доставка</span>
                                        <p>Доставка в течении 2-3 рабочих дней</p></li>
                                    <div class="clearfix"></div>
                                </ul>
                            {% endfor %}
                        </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}